.sampul{
    width: 70px;
    border-radius: 50%;
}
.modal-body .fotoku{
    text-align: center;
    width: 200px;
}
.card{
    padding: 15px;
    margin: 15px;
    width: 100%
}
.jjk{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}